.custom-homepage {
  #main-outlet {
    padding-top: 0;
   }
  .below-site-header-outlet {
    padding-top: 4.09em;
  }
  
  .top-banner {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(85%,#00b3e3),to(#0096d6));
    background-image: linear-gradient(90deg,#00b3e3 85%,#0096d6);
    background-color: #0096d6;
    width: 100%;
    color: #fff;
    height: auto;
    font-weight: 100;
    text-align: center;}
.slpHeroBanner {
    background: url(https://bbs-test.quecteltest.com/uploads/default/original/1X/f6a199c8cd948a3d92b44a91695c8f744425e02f.jpg) no-repeat top center;
    background-size: cover;
    background-color: #000;
    height: auto;
    max-width: 1920px;
    margin: auto;
}

.slpInsideText {
    max-width: 1000px;
    padding: 100px 10px 150px 30px;
    margin: auto;
    text-align: left;
    text-transform: none;
}
.slpInsideText h1 {
    font-size: 42px;
    line-height: 52px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: normal;
}

.slpInsideText p {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

.slpInsideText a {
    font-size:18px;
    background-color: transparent;
    color:#fff;
    padding:10px 35px;
    border:1px solid #fff;
    border-radius:25px;
    margin-top:30px;
    display:inline-block;
}
  
.slpInsideText a:hover {
    background-color:#fff;
    color:#000;
}
.homepage-light{background-color: #f8f9fa;}
.homepagesection {
    align-items:center;
    padding-top:60px;
    padding-bottom:60px;
    position:relative;
}
.homepagesection .main_title{
    margin:auto;
    max-width:700px;
}
.homepagesection .main_title h2{margin-bottom: .5em;
    font-size:32px;
    text-align:center;
    font-weight:400;
}
.homepagesection .main_title p{margin-bottom:1.5em;
    color:#9aa0a6;
    font-size:16px;
    text-align:center;
    font-weight:400;
}

/*homehover2*/
.homehover2 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  margin-right:20px;
  margin-bottom:30px;
  min-width:310px -60px;
  max-width:353px;
  width:100%;
  color:#ffffff;
  text-align:left;
  background-color:#000000;
  font-size:16px;
}
.homehover2 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.homehover2 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.homehover2 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.homehover2 figcaption:before,
.homehover2 figcaption:after {
  width:1px;
  height:0;
}
.homehover2 figcaption:before {
  right: 0;
  top: 0;
}
.homehover2 figcaption:after {
  left: 0;
  bottom: 0;
}
.homehover2 h3,
.homehover2 p {
  line-height:1.5em;
}
.homehover2 h3 {
  margin: 0 0 5px;
  font-size:1.3em;
  font-weight:700;
  text-transform: uppercase;
}
.homehover2 p {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 15px;
}
.homehover2 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.homehover2:before,
.homehover2:after,
.homehover2 figcaption:before,
.homehover2 figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.homehover2:before,
.homehover2:after {
  height: 1px;
  width: 0%;
}
.homehover2:before {
  top: 0;
  left: 0;
}
.homehover2:after {
  bottom: 0;
  right: 0;
}
.homehover2:hover img,
.homehover2.hover img {
  opacity: 0.4;
}
.homehover2:hover figcaption,
.homehover2.hover figcaption {
  opacity: 1;
}
.homehover2:hover figcaption:before,
.homehover2.hover figcaption:before,
.homehover2:hover figcaption:after,
.homehover2.hover figcaption:after {
  height: 100%;
}
.homehover2:hover:before,
.homehover2.hover:before,
.homehover2:hover:after,
.homehover2.hover:after {
  width: 100%;
}
.homehover2:hover:before,
.homehover2.hover:before,
.homehover2:hover:after,
.homehover2.hover:after,
.homehover2:hover figcaption:before,
.homehover2.hover figcaption:before,
.homehover2:hover figcaption:after,
.homehover2.hover figcaption:after {
  opacity: 0.1;
}

/*homehover3*/

.homehover3 {
  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 20px;
  min-width: 250px;
  max-width: 540px;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.homehover3 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.homehover3 img {
  max-width: 100%;
  vertical-align: top;
}
.homehover3 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.homehover3 h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  
  margin: 3px 0;
}
.homehover3 .title1 {
  text-transform: uppercase;
  font-weight: 700;
}
.homehover3 .title2 {
  color: #a58e7c;
  font-weight: 300;
}
.homehover3 .title3 {
  font-weight: 400;
  font-size: 16px;
  color:#ccc;
}
.homehover3 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.homehover3:hover img,
.homehover3.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*homehoverbox*/

.homehoverbox {
	display:inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 353px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}
.margin-right0{margin-right:0px !important;}
.margin-left0{margin-left:0px !important;}
.homehoverbox * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.homehoverbox img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.homehoverbox figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.homehoverbox figcaption:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  content: '';
 /* background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);  */
  opacity: 0.8;
  z-index: -1;
}

.homehoverbox .date {
  background-color: #fff;
  border-radius: 50%;
  color: #700877;
  font-size: 18px;
  font-weight: 700;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
}

.homehoverbox .date span {
  display: block;
  line-height: 14px;
}

.homehoverbox .date .month {
  font-size: 11px;
}

.homehoverbox h3,
.homehoverbox p {
  margin: 0;
  padding: 0;
}

.homehoverbox h3 {
  display: inline-block;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 5px;
}

.homehoverbox p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin-bottom: 0px;
}

.homehoverbox a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.homehoverbox:hover img,
.homehoverbox.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
}

