
.custom-homepage-wrapper{
  padding-top: 5.8572em;
  .txtinfo{
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    -moz-background-size: 100% 110%;
    height: 300px;
    color: #f9f9f9;
    padding-top: 200px;
  }

}

#main-outlet{
  padding-top: 1.8572em;
}