
.custom-homepage-wrapper{
  padding-top: 5.8572em;
  .txtinfo{
    overflow: hidden;
    text-align: center;
    background: #4953e8!important;
    position: relative;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    a{
      color: white;
    }
    .txt{
      position: relative;
      z-index: 2;
    }
    .circle1{
      position: absolute;
      left: -1.5%;
      top: 10%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #4b8bf6;
    }

    .circle2{
      position: absolute;
      right: 10%;
      top:25%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f6b334;
    }

    .circle3{
      position: absolute;
      right: -1%;
      top:-69%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #42c6ac;
    }

    .circle4{
      position: absolute;
      right: -1%;
      bottom:-39%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #4b8bf6;
    }

  }

  .menu {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menuitem {
    text-align: center;
    border: 1px solid var(--primary-low);
    margin: 5px;
    width: 30%;
    line-height: 30px;
    margin-bottom: 15px;
    // display: inline-block;
    a {
      display: block;
    }
  }

}

#main-outlet{
  padding-top: 1.8572em;
}